<!DOCTYPE html>

<html>
	
	<head>
		<meta charset="UTF-8">
		<title>Mercado Liebre</title>
		<script src="https://kit.fontawesome.com/d964575e02.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="./css/normalize.css" rel="stylesheet">
		<link href="./css/styles-default.css" rel="stylesheet">
		<link href="./css/styles-register.css" rel="stylesheet">
		
		
	</head>
	
	<body>
		
		<header class="header">
			
			<img src="./img/logo-mercado-liebre.svg" alt="logo mercado liebre" class="header__logo">
			
		</header>
		
		<main class="main">
			
			<form action="./" class="formulario">
				
				<div class="campo">
					<label for="nombre-y-apellido:" class="campo__descripcion">Nombre y Apellido:</label>
					<br>
					<input type="text" name="nombre-y-apellido" id="nombre-y-apellido" class="campo__input">
				</div>
				
				<div class="campo">
					<label for="nombre-de-usuario:" class="campo__descripcion">Nombre de Usuari@:</label>
					<br>
					<input type="text" name="nombre-de-usuario" id="nombre-de-usuario" class="campo__input">
				</div>
				
				<div class="campo">
					<label for="email:" class="campo__descripcion">Correo Electonico:</label>
					<br>
					<input type="email" name="email" id="email" class="campo__input">
				</div>
				
				<div class="campo">
					<label for="fecha-n:" class="campo__descripcion">Fecha de Nacimiento:</label>
					<br>
					<input type="date" name="fecha-n" id="fecha-n" class="campo__input">
				</div>
				
				<div class="campo">
					<label for="domicilio:" class="campo__descripcion">Domicilio:</label>
					<br>
					<input type="text" name="domicilio" id="domicilio" class="campo__input">
				</div>
				
				<div class="campo">
					<label class="campo__descripcion">Perfil de Usuario:</label>
					<div class="opciones">
						<div class="opcion">
							<input type="radio" name="perfil-de-usuario" value="venta" class="opcion">venta
						</div>
						<div class="opcion">
							<input type="radio" name="perfil-de-usuario" value="compra" class="opcion">compra</input>
						</div>
					</div>
				</div>
				
				<div class="campo">
				<label class="campo__descripcion">Preferencias:</label>
					<div class="opciones">
						<div class="opcion">
							<input type="checkbox" name="freferencia" value="electro" class="opcion">electro</input>
						</div>
						<div class="opcion">
							<input type="checkbox" name="freferencia" value="moda" class="opcion">moda</input>
						</div>
						<div class="opcion">
							<input type="checkbox" name="freferencia" value="hogar" class="opcion">hogar</input>
						</div>
						<div class="opcion">
							<input type="checkbox" name="freferencia" value="jugueteria" class="opcion">jugueteria</input>
						</div>
						<div class="opcion">
							<input type="checkbox" name="freferencia" value="vida-sana" class="opcion">vida sana</input>
						</div>
					</div>
				</div>
				
				
				
				<div class="campo">
					<label class="campo__descripcion">Foto de Perfil</label>
					<br>
					<input type="file" name="foto-de-perfil" accept=".jpg" class="campo__input campo__input--foto">
				</div>
				
				<div class="campo">
					<label for="contraseña" class="campo__descripcion">Cree Una Contraseña</label>
					<br>
					<input type="password" name="contraseña" id="contraseña" class="campo__input">
				</div>
				
				<div class="campo">
					<label for="confirmar-contraseña" class="campo__descripcion"> Confirme Su Contraseña</label>
					<br>
					<input type="password" name=" confirmar-contraseña" id="confirmar-contraseña" class="campo__input">
				</div>
				
				<div class="campo">
					<button type="submit" class="boton">Enviar</button>
					<br>
					<button type="reset" class="boton">Borrar datos</button>
				</div>
				
			</form>
			
		</main>
		
		<footer class="footer">
			
			<div  class="mensaje">
				<i class="fa-solid fa-credit-card mensaje__icono"></i>
				<h3 class="mensaje__titulo">Pagá con tarjeta o en efectivo</h3>
				<p class="mensaje__descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
				
				<i class="fa-solid fa-gift mensaje__icono"></i>
				<h3 class="mensaje__titulo">Envío gratis desde $ 2.500</h3>
				<p class="mensaje__descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
				
				<i class="fa-solid fa-user-shield mensaje__icono"></i>
				<h3 class="mensaje__titulo">Seguridad, de principio a fin</h3>
				<p class="mensaje__descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
				
				<h5 class="mensaje__copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
			</div>
			
		</footer>
		
	</body>
	
</html>