*{
    box-sizing: border-box;
}

body{
	font-family:"Roboto";
	background-color:#ebebeb;
}


.header{
	background-color: #EAC926;
	padding-bottom:2%;
}
.header__logo{
	width:30%;
	height:20%;
}
.header__texto{
	text-align:center;
}
.nav{
	display:none;
}
.item__link{
	text-decoration:none;
	color:black;
}
.burger-menu{
	text-align:center;
}
.burger-menu__icono{
	background-color:#1259c3;
	padding:1%;
	color:white;
	border-radius:10%;
}


.main{
	text-align:center;
	width:90%;
}
.banner{
	width:100vw;
}
.ultima-vista{
	margin-left:10%;
}
.ofertas{
	margin-left:10%;
}
.ultima-vista__titulo{
	text-align:left;
	font-size:24px;
	color: #666;
}
.ofertas__titulo{
	font-size:24px;
	text-align:left;
	margin-left:15px;
	color:#666;
}
.producto{
	margin: 10px;
	background-color:white;
}
.producto__img{
	width:100%;
}
.producto-descripcion{
	border:solid 1px #ebebeb;
	text-align:left;
}
.icono-envio{
	border:solid 2px #39b54a;
	border-radius:100%;
	width:50px;
	height:50px;
	margin:15px
}
.icono-envio__icono{
	color:#39b54a;
	font-size:18px;
	margin-right:10px;
	margin-top:3px;
}
.producto-descripcion__precio{
	font-size:18px;
	margin:15px;
}
.producto-descripcion__descuento{
	font-size:16px;
	color:#39b54a;
	margin:15PX;
}
.producto-descripcion__nombre{
	font-size:16px;
	color:#666;
	margin: 15px;
	display:none;
}


.footer{
	text-align:center;
}
.mensaje__icono{
	font-size:2em;
	margin-bottom:10px;
	color: #1259c3;
}
.mensaje__copyrigth{
	color:: #666;
}

@media (min-width:361px){
	
	.nav{
		display:block;
	}
	.burger-menu{
		display:none;
	}
	
	
	.producto{
		box-shadow: 0px 0px 10px rgb(100, 100, 100);
	}
	.producto-descripcion__nombre{
		display:block;
	}
}

@media (min-width:769px){
	
}